/* ============================================ */
/* RESET CSS=================================== */
/* ============================================ */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* ============================================= */
/* FONT FAMILY================================== */
/* ============================================= */
@font-face {
    font-family: Blinker;
    src: url("../fonts/Blinker-Bold.ttf") format("truetype"),
        url("../fonts/Blinker-Bold.woff") format("woff");
    font-weight: 700;
}
@font-face {
    font-family: Blinker;
    src: url("../fonts/Blinker-ExtraLight.ttf") format("truetype"),
        url("../fonts/Blinker-ExtraLight.woff") format("woff");
    font-weight: 200;
}
@font-face {
    font-family: Blinker;
    src: url("../fonts/Blinker-Regular.ttf") format("truetype"),
        url("../fonts/Blinker-Regular.woff") format("woff");
}
@font-face {
    font-family: Blinker;
    src: url("../fonts/Blinker-SemiBold.ttf") format("truetype"),
        url("../fonts/Blinker-SemiBold.woff") format("woff");
    font-weight: 600;
}
/* ============================================= */
/* BASE========================================= */
/* ============================================= */
body {
    font-family: Blinker;
    font-size: 16px;
    color: #ffffff;
    background: #19171c;
}
/* ============================================= */
/* HEADER======================================= */
/* ============================================= */
header .header-top {
    background: #1c1a22;
}
header .header-top .container-fluid {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}
header .header-top p {
    font-size: 15px;
    color: #7e7b88;
}
header .header-top .container-fluid > .left-side {
    display: flex;
    align-items: center;
}
header .header-top .container-fluid > .right-side {
    align-items: center;
    display: flex;
}
header .header-top .container-fluid > .left-side p + p {
    margin-left: 50px;
    margin-right: 9px;
}
header .header-top .container-fluid > .left-side p span {
    color: #00de83;
    font-size: 16px;
    font-family: Blinker;
    font-weight: 700;
    margin-left: 3px;
}
header .header-top .container-fluid > .left-side img {
    margin-right: 50px;
    margin-left: 8px;
    margin-top: -2px;
}
header .header-top .container-fluid > .left-side input {
    padding: 10px 0 10px 24px;
    width: 275px;
    border-radius: 50px;
    outline: none;
    background: #2f2d33;
    border: 0px;
    color: #ffffff;
    font-size: 16px;
}
header .header-top .container-fluid > .left-side form {
    position: relative;
}
header .header-top .container-fluid > .left-side form > span {
    position: absolute;
    right: 12px;
    top: 8px;
    color: #7e7b88;
    font-size: 20px;
}
header .header-top .container-fluid > .right-side span {
    margin-left: 16px;
    color: #ffffff;
}
header .header-bottom {
    background: #201e25;
}
header .header-bottom .container-fluid {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}
header .header-bottom .right-side {
    display: flex;
    align-items: center;
}
header .header-bottom .right-side ul {
    list-style: none;
}
header .header-bottom .right-side ul li {
    display: inline-block;
    margin-right: 40px;
}
header .header-bottom .right-side ul li:last-child {
    margin-right: 0px;
}
header .header-bottom .right-side ul li a {
    text-decoration: none;
    color: #7e7b88;
    font-weight: 600;
}
header .header-bottom .right-side ul li a.active {
    color: #ffffff;
}
/* ============================================= */
/* SECTION1===================================== */
/* ============================================= */
main .container {
    width: 60%;
    margin: auto;
}
.section1 {
    background-image: linear-gradient(to right, #2f2d33, #1c1a22);
    padding: 20px 0;
}
.section1 h1 {
    font-weight: 700;
}
.section1 .joy-stick {
    position: relative;
    margin-top: 40px;
    width: 60%;
    display: flex;
    align-items: center;
}
.section1 .joy-stick .positioning {
    position: absolute;
    left: 140px;
}
.section1 .section1-main {
    display: flex;
    justify-content: space-between;
}
.section1 .about-profile {
    width: 50%;
    display: flex;
    align-items: center;
}
.section1 .about-profile .circle1 {
    margin: 0px 47px 0 40px;
    border: 2px solid #1c3933;
    border-radius: 50%;
}
.section1 .about-profile .image img {
    border-radius: 50%;
    margin: 15px;
}
.section1 .about-profile .about-description > h2 {
    font-weight: 700;
}
.section1 .about-profile .about-description > h4 {
    font-weight: 700;
    padding: 4px 0 12px 0;
}
.section1 .about-profile .about-description > q {
    line-height: 1.4;
    color: #d7d7d7;
}
/* ============================================= */
/* SECTION2===================================== */
/* ============================================= */
.section2 {
    padding: 150px 0 30px 0;
}
.section2 > .container {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.section2 .left-side {
    width: 45%;
}
.section2 .left-side h2 {
    font-weight: 700;
    margin-bottom: 25px;
}
.section2 .left-side p {
    line-height: 1.4;
    color: #d7d7d7;
}
.section2 .right-side {
    width: 45%;
}
.section2 .right-side h2 {
    font-weight: 700;
    margin-bottom: 25px;
}
.section2 .right-side p {
    color: #d7d7d7;
}
.section2 .right-side .icon-box {
    display: flex;
    padding-right: 9px;
}
.section2 .right-side .icon-box .box {
    padding-right: 9px;
}
.section2 .right-side .icon-box p {
    font-size: 14px;
}
.section2 .right-side .icon-box img {
    width: 75px;
}
.section2 > img {
    width: 460px;
    height: 125px;
}
/* ============================================= */
/* SECTION3===================================== */
/* ============================================= */
.section3 {
    background-image: linear-gradient(to top right, #b3b3b3, #ffffff);
    padding: 70px 0 65px 0;
    transform: skew(0deg, -2.6deg) translateY(-71px);
    border-top: 4px solid #04c274;
}
.section3 .container {
    display: flex;
    transform: skew(0deg, 2.5deg);
}
.section3 .container h2 {
    color: #3b3840;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 4px;
    text-align: center;
}
.section3 .container h1 {
    color: #3b3840;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 4px;
    text-align: center;
    margin-bottom: 50px;
}
.section3 .container .box {
    display: flex;
}
.section3 .container .box p {
    color: #3b3840;
}
.section3 .container .left-side img {
    padding-right: 20px;
}
.section3 .container .left-side .box {
    padding-bottom: 29px;
}
.section3 .container .right-side .box {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 15px;
}
.section3 .container .right-side p {
    padding-right: 25px;
}
.section3 .left-side {
    width: 50%;
}
.section3 .right-side {
    width: 50%;
}
/* ============================================= */
/* FOOTER======================================= */
/* ============================================= */
footer {
    background: #19171c;
    z-index: 100;
    position: relative;
    margin-top: -107px;
}
footer .container {
    width: 60%;
    margin: auto;
}
footer .footer-top {
    display: flex;
    padding-top: 250px;
    padding-bottom: 20px;
}
footer .footer-top .box {
    width: 25%;
}
footer .footer-top .box h2 {
    font-weight: 200;
    font-size: 20px;
    margin-bottom: 30px;
    cursor: default;
}
footer .footer-top .box ul li {
    margin-bottom: 10px;
    color: #7e7b88;
    font-size: 14px;
    cursor: pointer;
}
/* ============================================= */
/* BOTTOM FOOTER================================ */
/* ============================================= */
.bottom-footer {
    padding: 10px 0 20px 0;
    background-image: linear-gradient(to top, #282431, #221f29);
    box-shadow: 0px -49px 95px 16px #24202b;
}
.bottom-footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-area {
    position: relative;
}
.bottom-footer .container .input-area input[type="text"] {
    width: 290px;
    outline: none;
    border-radius: 70px;
    border: 2px solid #00de83;
    padding: 7px 0px 5px 10px;
    background: transparent;
}
.bottom-footer .container .input-area input[type="submit"] {
    outline: none;
    background: #00de83;
    border-radius: 70px;
    border: 2px solid #00de83;
    padding: 4px 15px;
    font-size: 16px;
    margin: 0px 0px 0 -83px;
    position: absolute;
}
.bottom-footer .container .logo-area img {
    margin-bottom: 8px;
}
.bottom-footer .container .logo-area .social-link {
    text-align: center;
}
.bottom-footer .container .logo-area .social-link span:nth-child(2) {
    margin: 0 10px;
}
.bottom-footer .container .payment-area span {
    font-size: 50px;
    margin: 0 5px;
}
.bottom-footer .container .payment-area span:first-child {
    margin: 0;
}
.bottom-footer .container .payment-area span:last-child {
    margin: 0;
}
